<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  </head>
  <body>

    <!-- RENDERING -->
    <input v-model="newTodoText" @keyup.enter="addTodo">
    <ul>
      <li v-for="todo in todos">
        <span>{{ todo.text }}</span>
        <button @click="removeTodo($index)">X</button>
      </li>
    </ul>

    <script>
      new Vue({
        // MOUNTING
        el: 'body',

        // STATE
        data: {
          newTodoText: '',
          todos: []
        },

        // HELPERS
        methods: {
          addTodo: function () {
            if (this.newTodoText) {
              this.todos.push({ text: this.newTodoText })
              this.newTodoText = ''
            }
          },
          removeTodo: function (index) {
            this.todos.splice(index, 1)
          }
        }
      })
    </script>
  </body>
</html>
